---
layout: default
---

<!-- Page Header -->
<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="site-heading">
                    <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                    <hr class="small">
                    <span class="subheading">{% if page.title != "About" %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- Main Content -->
<!-- <div class="container" style="background-image: url('/img/section2.png'); background-size: cover;">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

</hr>-->


<!-- second section - About -->
<div id="about" class="pad-section-profile">
  <div class="container">
    <div class="row">
      <img src="img/LI_Profile_Pic_for_web.png" alt="" />
      <div style="text-align: center;">
          <h2>WHO I AM</h2>
        <p class="lead">An experienced entrepreneur at the intersection of technology, product, & marketing. I aim to be at the forefront of innovation and look to solve problems with scalable solutions. I am an avid amateur chess player & lover of philosphy. I'm currently reading <i>The Emperor's New Mind</i>.</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<!-- /second section -->


<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">HOW I WORK</h2> <hr>
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-search"> </i>
        <h4>RESEARCH</h4>
        <p>Understand & explore the problem. Define hypothesis, goals, & success.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-wrench"> </i>
        <h4>BUILD</h4>
        <p>Create MVP. Implement tools for measurement. Drive traffic.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-random"> </i>
        <h4>TEST</h4>
        <p>Variant test prototypes & MVP. Combine insights, data, & experience.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-ok"> </i>
        <h4>DELIVER</h4>
        <p>Iterate, improve, & succeed. Identify strategic opportunities.</p>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
 <div id="information">
  <div class="container">
  <strong><h2 class= "text-center" style="font white">NOTABLE CLIENTS</h2></strong>
  <br>
  <br>
<div class="row pad-section">
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" alt="" src="img/logo-skyguru_d200.png"/></div>
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" alt="" src="img/logo-opensea_d200.png" /></div>
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" style="width:65%" alt="" src="img/Creditor_AI_logo_CreditorAI_logo_black_d200.png"/></div>
</div>
<br>
<div class="row pad-section">
    <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" style="width:45%" alt="" src="img/logo-mastakey_d200.png" /></div>
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" alt="" src="img/logo-tubus_d200.png" /></div>
     <div class="col-sm-4 col-sm-6 col-xs-12"><img class="img-responsive" style="width:45%"alt="" src="img/logo-periodix.png" /></div>
</div>
<div class="row pad-section">
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" style="width:55%" alt="" src="img/Unlevel_logo_horiz_d200.png" /></div>
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" alt="" src="img/logo-webjets_d200.jpg" /></div>
     <div class="col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" style="width:65%" alt="" src="img/logo-peerclick_d200.png" /></div>
</div>
</div>
</div>
<!-- /fourth section -->
